@use './theme.scss' as *;
@forward './theme.scss';

.component-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: map-get($layout, block, width);
  height: map-get($layout, block, height);
  background-color: map-get($palette, gray, cardBg);
}
