:root {
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/gothampro.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: map-get($palette, gray, black);
}

button {
  padding: 0;
  cursor: pointer;
}

div,
li,
button {
  box-sizing: border-box;
}

li,
ul {
  list-style-type: none;
}

ul {
  margin: 0;
}
